.projects {
    height: 100%;
    width: 100%;
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

.projects-bg {
    background-image: url('../../public/project-bg.svg');
}

.author-img {
    height: 450px;
    width: 350px;
    border-radius: 10px;
    
}

.author-img1 {
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.project-container-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

h3 {
    margin-top: 15px;
}

.project-container-text {
    margin-bottom: 15px;
}

@media screen and (min-width: 960px) {
    .project-container-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .project-container-body-first {
        flex-direction: row-reverse;
    }

    .project-container-text {
        max-width: 400px;
        margin-left: 10px;
    }
}